<div class="flex-container flex-container-column fit">
    <fieldset class="flex-item flex-item-grow form" data-bind="scrollable: {}">
        <div class="form-group">
            <label class="form-label">Title</label>
            <div class="input-group">
                <input type="text" class="form-control" data-bind="textInput: layoutItem.title, validationElement: layoutItem.title"
                    placeholder="i.e. Orders" maxlength="256" />
                <button class="btn btn-danger input-group-btn" data-bind="validationMessageToggle: layoutItem.title"
                    type="button">!</button>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">URL template </label>
            <div class="input-group">
                <input type="text" class="form-control" data-bind="textInput: layoutItem.permalinkTemplate, validationElement: layoutItem.permalinkTemplate"
                    placeholder="/" maxlength="2000" />
                <button class="btn btn-danger input-group-btn" data-bind="validationMessageToggle: layoutItem.permalinkTemplate"
                    type="button">!</button>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label"> Description </label>
            <textarea class="form-control" data-bind="textInput: layoutItem.description"></textarea>
        </div>
    </fieldset>

    <div class="flex-item btn-group">
        <!--ko if: canDelete -->
        <button class="btn" data-bind="click: deleteLayout">
            <i class="paperbits-icon paperbits-simple-remove"></i>
            Delete layout
        </button>
        <!--/ko-->
    </div>
</div>