<div class="flex flex-column flex-item flex-item-grow" data-bind="scrollable: true" role="list">
    <!-- ko foreach: { data: layouts, as: 'layout' } -->
    <a href="#" role="listitem" class="list-item"
        data-bind="css: { selected:  $component.isSelected(layout) }, attr: { title: layout.title }, activate: $component.selectLayout, selectable: true">
        <i aria-hidden="true" class="paperbits-icon paperbits-layout-11-2"></i>
        <span data-bind="text: layout.title"></span>
    </a>
    <!--/ko-->
    <!--ko if: $component.working()-->
    <spinner></spinner>
    <!--/ko-->
    <!-- ko ifnot: $component.working -->
    <div class="list-edge" data-bind="whenInView: $component.loadNextPage"></div>
    <!-- /ko -->
</div>